@font-face {
    font-family: "Euphoria";
    src: url("\\resources\\euphoria\\EuphoriaScript-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "TheSeasons";
    src: url("\\resources\\TheSeasons\\Fontspring-DEMO-theseasons-reg.otf")
        format("opentype");
}

h1 {
    font-family: "Euphoria";
    background-color: #011e31;
    color: #f9cc66;
    font-size: 4em;
    font-weight: 100;
}

h2 {
    font-family: "TheSeasons";
    background-color: #011e31;
    color: #f9cc66;
}

* {
    font-family: "TheSeasons";
    background-color: #011e31;
    color: #f9cc66;
}

.card {
    box-shadow: 4px 4px 4px 4px white;
    transition: 0.3s;
    border-radius: 5px;
    width: fit-content ;
    gap: 2rem;
  margin: 2rem;
  padding: 10px;
  }
  