@font-face {
    font-family: "Euphoria";
    src: url("\\resources\\euphoria\\EuphoriaScript-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "TheSeasons";
    src: url("\\resources\\TheSeasons\\Fontspring-DEMO-theseasons-reg.otf")
        format("opentype");
}

@font-face {
    font-family: "PT Serif Caption";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptserifcaption/v17/ieVl2ZhbGCW-JoW6S34pSDpqYKU019K7DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

h1 {
    font-family: "Euphoria";
    background-color: #011e31;
    color: #f9cc66;
    font-size: 4em;
    font-weight: 100;
}

h2 {
    font-family: "TheSeasons";
    background-color: #011e31;
    color: #f9cc66;
}

a {
    font-family: "PT Serif Caption";
    background-color: #011e31;
    color: #f9cc66;
}

p {
    margin: 35px;
    font-family: "TheSeasons";
    background-color: #011e31;
    color: #f9cc66;
}

* {
    font-family: "TheSeasons";
    background-color: #011e31;
    color: #f9cc66;
}

.card {
    box-shadow: 4px 4px 4px 4px white;
    transition: 0.3s;
    border-radius: 5px;
    width: fit-content ;
    gap: 2rem;
  margin: 2rem;
  padding: 10px;
  }

 
  